 .float-left {
	float: left;
}
.float-right {
	float: right;
} 
#media-title {
	display:inline;
}
.hided {
	display:none;
}
.checkbox-app {
	overflow: hidden;
}
.checkbox-app-winlbl{
	font-size:smaller; 
	font-weight:normal
}
.use-app,.use-app-disabled, .rc-title {
	border: 2px solid #a1a1a1;
}
.use-app,.use-app-disabled {
	margin-right:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
.use-app{
	background: #dddddd;
}
.use-app-disabled{
	color: #666666;
	background: #aaaaaa;
}
.rc-title {
	text-align: center;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	padding: 5px 10px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	background: #eeeeee;
}
.control{
	border: 2px solid #a1a1a1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #dddddd;
	height: 50px;
	line-height: 50px;
	position:relative;
	width:96%;
	text-align: center;
}
.control-img {
	top:50%;
	left:50%;
	position:absolute;
}
.controls-row {
	margin-top:2px;
}
.rc-controls {
}
#pad{
	min-height:300px; 
	background:#fff; 	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #666;
}
#wheel-pad{
	min-height:300px; 
	background:url(../images/tasky_pattern.png) repeat; 	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
}
.mouse-btn{
	min-height:50px;
	padding-top:30px;
	background:#fff;	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	border:1px solid #666;
	text-align:center;
	color:#aaa;
}
/* Columns system */
.row-fluid {
  width: 100%;
  *zoom: 1;
  margin-bottom:10px;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}