 .float-left {
	float: left;
}
.float-right {
	float: right;
} 
#media-title {
	display:inline;
}
.hided {
	display:none;
}
.checkbox-app {
	overflow: hidden;
}
.checkbox-app-winlbl{
	font-size:smaller; 
	font-weight:normal
}
.use-app,.use-app-disabled, .rc-title {
	border: 2px solid #a1a1a1;
}
.use-app,.use-app-disabled {
	margin-right:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
.use-app{
	background: #dddddd;
}
.use-app-disabled{
	color: #666666;
	background: #aaaaaa;
}
.rc-title {
	text-align: center;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	padding: 5px 10px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	background: #eeeeee;
}
.control{
	border: 2px solid #a1a1a1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #dddddd;
	height: 50px;
	line-height: 50px;
	position:relative;
	width:96%;
	text-align: center;
}
.control-img {
	top:50%;
	left:50%;
	position:absolute;
}
.controls-row {
	margin-top:2px;
}
.rc-controls {
}
#pad{
	min-height:300px; 
	background:#fff; 
	width:100%; 
	border:1px solid #ccc;
}